.jumbotron {
    background-image: url("./img/jumbob.png");
    background-size: cover;
    background-size: 100% 100%;
  }
.row {
      margin-top: 8%;
      margin-left: 8%;
  }
  .card:hover{
      -webkit-box-shadow: -1px 9px 40px -12px rgba(0,0,0,0.75);
      -moz-box-shadow: -1px 9px 40px -12px rgba(0,0,0,0.75);
      -box-shadow: -1px 9px 40px -12px rgba(0,0,0,0.75);
  }
  .card-img-topb {
    width: 100%;
    height: 14vh;
    object-fit: fill;
    }